*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Amantic-SC', cursive;
}
body{
    background-color: #000;
}

.main{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(3, 3, 5, 0.7));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
}
.content a:hover{
    border: 2px solid red;
    background: red;
}

.back-video{
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*------homepage-----*/
h1{
    color: white;
    font-size: 100px;
    font-weight: 600;
}
p{
    color:#fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.homepage{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.parts{
    flex-basis: 15%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.parts img{
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.return a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.5s;
}
.return a:hover{
    border: 2px solid red;
    background: red;
}
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}



 /*------page-footer-----*/
 .pagefooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:grey;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    margin-top: 2rem;
}
.pagefooter > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#fff;
}
 .pagefooter img {
    width: 50px;
    height: 32px;
    margin-right: 1rem;
    border-radius: 50%;
}